@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3s ease;
}

:root{
    --PrimaryColor: hsl(94, 59%, 35%);
    --HoverColor: #bdf094;
    --PaleGreen: hsl(96, 75%, 89%);
    --WhiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 18%);
    --TextColor: hsl(240, 1%, 48%);
    --bgColor: hsl(220, 10%, 94%);
    --GreyText: rgb(190, 190, 190);
    --InputColor: hsl(330, 12%, 97%);

    --BiggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --NormalFontSize: .398rem;
    --SmallFontSize: .813rem;
    --SmallestFontSize: .75rem;
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img{
    width: 100%;
    height: auto;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--InputColor);
    padding: .8rom 1rem;
    color: var(--TextColor);
}

.btn .icon{
    margin-left: .5rem;
}

.btn:hover{
    background: var(--PaleGreen);
    color: var(--PrimaryColor);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
}

.container{
    position: relative;
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bgColor);
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px var(--GreyText);
}


::webkit-scrollbar{
    display: none;
    
}